<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <button [routerLink]="['/add']">Add an Author</button>
  <router-outlet></router-outlet> 
  <table>
    <thead>
      <tr>
        <th>Author</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody *ngFor='let author of authors'>
      <tr>
        <td>{{author.name}}</td>
        <td><button [routerLink]="['/quotes/', author._id]">View Quotes</button> <button [routerLink]="['/edit/', author._id]">Edit</button> <button (click)='deleteAuthor(author._id)'>Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
