<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <button [routerLink]="['/home']">Home</button>
  <router-outlet></router-outlet> 
  <h4>Add a new Author</h4>
  <div>
    <h3 *ngIf='error'>{{error}}</h3>
    <form (submit)='addNewAuthor()'>
      {{ newAuthor | json }}
      Name: <input type="text" name="name" [(ngModel)]="newAuthor.name">
      <input type="submit" value="Submit">
    </form>
    <button [routerLink]="['/home']">Home</button>
  </div>
</div>
